<div class="jumbotron">
  <div>
    Short URL: <%= @url.short_url %>
  </div>
  <div>
    Long URL: <%= @url.long_url %>
  </div>

  <div class="edit-link-form">
    <%= render 'edit_form' %>
  </div>

  <%= button_to "Delete Short URL", url_path(@url),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger delete' %>

  <%= link_to 'Back to list', admin_path %>
</div>
